@import url('https://fonts.googleapis.com/css?family=Handlee|Kodchasan|Patua+One&display=swap');

html { margin : 0; padding: 0;}

body {
	font-family: 'Handlee' , cursive;
	font-size: 18pt;
	background-color: #efefef;
	padding: 10px;
	margin: 0;
}

#header {
	background-image: url("Images/wall.jpg");
	background-size: cover;
}

#header img {
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	box-shadow: 4px 4px 6px #000000;
}

#header p {
	font-size: 40pt;
	color: #1aa3ff;
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px #000000;
}


#header h2 {
	font-size: 30pt;
	color: #1aa3ff;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px #000000;
}

.img-circle {
	border: 3px solid white;
	margin-top: 10px;
	border-radius: 50%;
}

.section {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #aeaeae;
}

.menu_section {
	background-color: #fff;
	padding: 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #aeaeae;
}

.menu_section a:link {
	font-family: 'Patua One', cursive;
	color: #5f646e;
	border-bottom: 4px solid #bebfbf;
	text-decoration: none;
}

.menu_section a:visited {
	font-family: 'Patua One', cursive;
	color: #5f646e;
	border-bottom: 4px solid #bebfbf;
	text-decoration: none;
}

.menu_section a:hover {
	font-family: 'Patua One', cursive;
	color: #353e3e;
	border-bottom: 5px solid #fa867e;
	text-decoration: none;
}

.menu_section span {
	padding-left 80px;
}

.content_h1 {
	font-size: 25pt;
	color: #20bcd5;
	text-align: center;
	margin: auto;
}

.content_h1 span {
	border: 4px dashed #20bcd5;
	padding: 10px;
}

.quote {
	background-color: #D3D3D3;
	border-left: 5px solid #A9A9A9;
	font-family: 'Kodchasan', sans-serif;
	color: #5f646e;
	font-style: italic;
    	font-size: 18pt;
    	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 60px;
	margin-right: 60px;
}

.quoty {
	text-align: right;
	font-style: normal;
	padding-top: 10px;
}

p {
	font-family: 'Kodchasan', sans-serif;
	padding-top: 20px;
  	padding-right: 80px;
  	padding-bottom: 20px;
  	padding-left: 80px;
	margin: 0;
	color: #5f646e;
}

p a:link {
	font-family: 'Kodchasan', sans-serif;
	color: #5f646e;
	border-bottom: 2px solid #bebfbf;
	text-decoration: none;
}

p a:visited {
	font-family: 'Kodchasan', sans-serif;
	color: #5f646e;
	border-bottom: 2px solid #bebfbf;
	text-decoration: none;
}

p a:hover {
	font-family: 'Kodchasan', sans-serif;
	color: #353e3e;
	font-weight: bold;
	border-bottom: 2px solid #48ecf1;
	text-decoration: none;
}

ul{
	padding-left: 80px;
	font-family: 'Kodchasan', sans-serif;
	color: #5f646e;
}

li{
	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-left: 40px;
	margin: 0;
}

.selected {
    	background-color: #f36f48;
    	font-weight: bold;
    	color: white;
}

hr {
    	border: 0;
    	height: 1px;
    	background: #f36f48;
}

#contacts {
    	text-align: center;
    	background-color: #1F2430;
	color: #ffffff;
	font-size: 15pt;
}

.conatcts_h1 {
	text-align: center;
	margin: 0;
}

.contacts_h1 span{
	background: rgb(131,58,180);
	background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); 
	border-radius: 20px;
	padding: 12px 12px 12px 12px;
}

#contacts img {
    	height: 50px;
    	width: 50px;
	margin-top: 15px;
    	margin-left: 7px;
    	margin-right: 7px;
    	filter: drop-shadow(2px 2px 2px #222);
}
#contacts a {
    	text-decoration: none;
}
#contacts img:hover {
    	opacity: 0.8;
}

.copyright {
    	font-size: 13pt;
    	text-align: center;
    	padding-bottom: 5px;
    	color: grey;
}


@media only screen and (max-width: 768px) {

body{
	font-size: 11pt;
}

#header img {
	width: 40vw;
	height: 40vw;
	box-shadow: 2px 2px 4px #000000;
}

#header p {
	font-size: 15pt;
	padding-top: 10px;
	text-shadow: 2px 2px 4px #000000;
}


#header h2 {
	font-size: 14pt;
	padding-top: 5px;
	text-shadow: 2px 2px 4px #000000;
}

.img-circle {
	border: 2px solid white;
}

.section {
	padding: 2vw;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #aeaeae;
}

.content_h1 {
	font-size: 14pt;
	padding: 1vw;
}

.content_h1 span {
	border: 3px dashed #20bcd5;
	padding: 1vw;
}

.quote {
	border-left: 1vw solid #A9A9A9;
    	font-size: 10pt;
	padding-top: 2vmax;
	padding-bottom: 2vmax;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-top: 2.5vmax;
	margin-bottom: 2.5vmax;
	margin-left: 3vw;
	margin-right: 3vw;
}

.quoty {
	padding-top: 2vmax;
}
	
p {
	padding-top: 1vmax;
  	padding-right: 6vw;
  	padding-bottom: 1vmax;
  	padding-left: 6vw;
}

ul{
	padding-top: 0;
  	padding-right: 0;
  	padding-bottom: 0;
  	padding-left: 0;
margin-top: 1vamx;
margin-bottom: 0;
	margin-left: 10vw;
	margin-right: 7vw;
}

li{
	padding-top: 1vmax;
  	padding-bottom: 1vmax;
  	padding-left: 3vw;
}
	
#contacts img {
    	height: 8vw;
    	width: 8vw;
	margin-top: 2vw;
    	margin-left: 1vw;
    	margin-right: 1vw;
    	filter: drop-shadow(2px 2px 2px #222);
}

.contacts_h1 {
	font-size: 14pt;
	padding: 1vw;
}
	
.copyright {
	font-size: 8pt;
    	padding-bottom: 0.8vh;
}

}
