@import url('https://fonts.googleapis.com/css?family=Handlee|Kodchasan|Patua+One&display=swap');

html {
	margin: 0;
	padding: 0;
	--backg: #efefef;
	--backsec: #fff1d0;
	--pfontcol: #5f646e;
	--quotecol: #5f646e;
	--quotebg: #D3D3D3;
	--headcol: #fffb9d;
	--headcol1: rgb(255,37,37);
	--headcol2: rgba(255,37,37,1);
	--headcol3: rgb(255,196,59,1);
	--pahovercol: #1F2430;
	--contenth1col: #4f66ff;
}

body {
	font-family: 'Handlee' , cursive;
	font-size: 18pt;
	background-color: var(--backg);
	padding: 10px;
	margin: 0;
}

#header {
	background: var(--headcol1);
	background: -moz-linear-gradient(90deg, var(--headcol2) 0%, var(--headcol3) 50%, var(--headcol2) 100%);
	background: -webkit-linear-gradient(90deg, var(--headcol2) 0%, var(--headcol3) 50%, var(--headcol2) 100%);
	background: linear-gradient(90deg, var(--headcol2) 0%, var(--headcol3) 50%, var(--headcol2) 100%);
	background-size: cover;
}

#header img {
	display: block;
	width: 200px;
	height: 200px;
	margin: 20px auto 0 auto;
	box-shadow: 4px 4px 6px #000000;
}

#header p {
	font-size: 40pt;
	color: var(--headcol);
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0;
	line-height: 1.3;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px #000000;
}


#header h2 {
	font-size: 30pt;
	color: var(--headcol);
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px #000000;
}

.img-circle {
	border: 3px solid white;
	margin-top: 10px;
	border-radius: 50%;
}

.section {
	background-color: var(--backsec);
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
/*
.menu_section {
	font-size: 30pt;
	background-color: #1F2430;
	padding: 0px;
	padding-top: 10px;
	padding-left: 80px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

.menu_section a:link {
	font-family: 'Patua One', cursive;
	color: #5f646e;
	border-bottom: 7px solid #bebfbf;
	text-decoration: none;
}

.menu_section a:visited {
	font-family: 'Patua One', cursive;
	color: #5f646e;
	border-bottom: 7px solid #bebfbf;
	text-decoration: none;
}

.menu_section a:hover {
	font-family: 'Patua One', cursive;
	color: #353e3e;
	border-bottom: 7px solid #fa867e;
	text-decoration: none;
}

.menu_section span {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 0;
}
*/
.content_h1 {
	font-size: 25pt;
	color: var(--contenth1col);
	text-align: center;
	font-weight: bold;
	border: 4px dashed var(--contenth1col);
	padding: 10px;
	width: 180px;
	margin: 60px auto 40px auto;
}

.quote {
	background-color: var(--quotebg);
	border-left: 5px solid #A9A9A9;
	font-family: 'Kodchasan', sans-serif;
	color: var(--quotecol);
	font-style: italic;
  	font-size: 18pt;
  	text-align: left;
	padding: 30px 40px;
	margin: 40px 60px;
}

.quotecontent::before {
	content: "\201C";
	font-weight: bold;
}

.quotecontent::after {
	content: "\201D";
	font-weight: bold;
}

.quoty {
	text-align: right;
	font-style: normal;
	padding-top: 10px;
	font-weight: bold;
}

p {
	font-family: 'Kodchasan', sans-serif;
	padding: 0px 80px 20px 80px;
	margin: 0;
	line-height: 1.6;
	color: var(--pfontcol);
}

p a:link {
	font-family: 'Kodchasan', sans-serif;
	color: var(--pfontcol);
	border-bottom: 3px solid #bebfbf;
	text-decoration: none;
}

p a:visited {
	font-family: 'Kodchasan', sans-serif;
	color: var(--pfontcol);
	border-bottom: 3px solid #bebfbf;
	text-decoration: none;
}

p a:hover {
	font-family: 'Kodchasan', sans-serif;
	color: var(--pahovercol);
	transition-delay: 0.2s;
	border-bottom: 3px solid #48ecf1;
	text-decoration: none;
}

ul{
	padding-left: 150px;
	font-family: 'Kodchasan', sans-serif;
	color: var(--pfontcol);
}

li{
	padding: 10px 40px;
	margin: 0;
}

li a{
	text-decoration: none;
	color: var(--pfontcol);
}

.selected {
  background-color: #f36f48;
  font-weight: bold;
  color: white;
}

.card-box{
	display: flex;
	justify-content: center;
}

.card-wrapper {
  	display: inline-block;
  	perspective: 1000px;
}

.card-wrapper .card {
  	position: relative;
  	cursor: pointer;
  	transition-duration: 0.6s;
  	transition-timing-function: ease-in-out;
  	transform-style: preserve-3d;
}

.card-wrapper .card .front,
.card-wrapper .card .back {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	transform: rotateX(0deg);
}

.card-wrapper .card .front {
  	z-index: 2;
}

.card-wrapper .card .back,
.card-wrapper.flip-right .card .back {
  	transform: rotateY(180deg);
}

.card-wrapper:hover .card,
.card-wrapper.flip-right:hover .card {
  	transform: rotateY(180deg);
}

.card-wrapper,
.card {
  	width: 400px;
  	height: 130px;
  	margin: 0px;
}

.card .front,
.card .back {
  	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	border: 1px solid #FC545E;
  	border-radius: 10px;
}

.card .front {
  	color: #FC545E;
  	background: #FFFFFF;
  	font-weight: 700;
  	font-size: 54pt;
}

.card .back {
  	font-size: 1.5rem;
  	color: #FFFFFF;
  	background: #FC545E;
}

hr {
	border: 0;
  	height: 1px;
  	background: #f36f48;
}

.myproject_h1 {
	font-size: 30pt;
	font-weight: bold;
	color: #ffffff;
	background: rgb(183,33,255);
	background: -moz-linear-gradient(90deg, rgba(183,33,255,1) 0%, rgba(33,212,253,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(183,33,255,1) 0%, rgba(33,212,253,1) 100%);
	background: linear-gradient(90deg, rgba(183,33,255,1) 0%, rgba(33,212,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b721ff",endColorstr="#21d4fd",GradientType=1);
	text-align: center;
	border-radius: 20px;
	padding: 15px;
	width: 250px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}


input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;

}

label {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: #2ab1ce;
}

label:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 4px;
  transition: ease-in-out 200ms;
}

input:checked + label {
  background: #ea4b3c;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#contacts {
  text-align: center;
  background-color: #1F2430;
	color: #ffffff;
	font-size: 25pt;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 0px;
}

.conatcts_h1 {
	text-align: center;
	margin: 0;
	margin-top: 20px;
}

.contacts_h1 span{
	background: rgb(131,58,180);
	background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
	border-radius: 20px;
	padding: 15px;
}

#contacts img {
 	height: 50px;
 	width: 50px;
	margin: 40px 17px 10px 17px;
	filter: drop-shadow(2px 2px 2px #222);
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 0.8;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.copyright {
  font-size: 13pt;
  text-align: center;
  padding-bottom: 5px;
  color: grey;
}

html[data-theme='dartheme'] {
	--backg: #4d4e4f;
	--backsec: #232323;
	--pfontcol: #e4e4e4;
	--quotecol: #D3D3D3;
	--quotebg: #5f646e;
	--headcol: #8dc6ff;
	--headcol1: rgb(24,43,64);
	--headcol2: rgba(24,43,64,1);
	--headcol3: rgba(4,129,255,1);
	--pahovercol: #ffffff;
	--contenth1col: #20bcd5;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 200ms !important;
  transition-delay: 0 !important;
}

@media only screen and (max-width: 768px) {

body{
	font-size: 11pt;
}

#header img {
	width: 40vw;
	height: 40vw;
	box-shadow: 2px 2px 4px #000000;
	margin: auto;
}

#header p {
	font-size: 6vw;
	padding-top: 10px;
	text-shadow: 2px 2px 4px #000000;
}


#header h2 {
	font-size: 5vw;
	padding-top: 5px;
	text-shadow: 2px 2px 4px #000000;
}

.img-circle {
	border: 2px solid white;
}

.section {
	padding: 2vw;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}

/*
.menu_section {
	font-size: 14pt;
	padding-top: 2vw;
	padding-left: 5vw;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}

.menu_section a:link {
	border-bottom: 1vmin solid #bebfbf;
}

.menu_section a:visited {
	border-bottom: 1vmin solid #bebfbf;
}

.menu_section a:hover {
	border-bottom: 1vmin solid #fa867e;
}

.menu_section span {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 0;
}
*/

.content_h1 {
	font-size: 14pt;
	border: 3px dashed var(--contenth1col);
	padding: 1vw;
	width: 30vmin;
	margin: auto;
}

.quote {
	border-left: 1vw solid #A9A9A9;
    	font-size: 10pt;
	padding: 2vmax 2vw;
	margin: 2.5vmax 3vw;
}

.quoty {
	padding-top: 2vmax;
}

p {
	padding: 1vmax 6vw;
}

p a:link {
	border-bottom: 2px solid #bebfbf;
}

p a:visited {
	border-bottom: 2px solid #bebfbf;
}

p a:hover {
	border-bottom: 2px solid #48ecf1;
}

ul{
	padding: 0;
	margin-top: 1vamx;
	margin-bottom: 0;
	margin-left: 10vw;
	margin-right: 7vw;
}

li{
	padding-top: 1vmax;
  	padding-bottom: 1vmax;
  	padding-left: 3vw;
}

.myproject_h1 {
	font-size: 17pt;
	margin-top: 3vmax;
	margin-bottom: 3vmax;
	padding: 4vw;
	width: 50vmin;
}

#contacts {
	padding-top: 3vmax;
}

#contacts img {
    	height: 8vw;
    	width: 8vw;
	margin: 5vw 1vw 0 1vw;
    	filter: drop-shadow(2px 2px 2px #222);
}

.contacts_h1 {
	font-size: 15pt;
	padding: 1vw;
	margin-top: 0;
}

.flex-container {
	display: inline;
	justify-content: space-around;
}
	
.copyright {
	font-size: 8pt;
    	padding-bottom: 0.8vh;
}

}
