@import url('https://fonts.googleapis.com/css?family=Courgette|Gudea|Handlee|Kodchasan|Patua+One&display=swap');

html {
	margin: 0;
	padding: 0;
	--backg: #efefef;
	--backsec: #fff1d0;
	--pfontcol: #5f646e;
	--quotecol: #5f646e;
	--quotebg: #D3D3D3;
	--headcol: #fffb9d;
	--headcol1: rgb(255,37,37);
	--headcol2: rgba(255,37,37,1);
	--headcol3: rgb(255,196,59,1);
	--pahovercol: #1F2430;
	--contenth1col: #4f66ff;
	--progcol: #a5d7a7;
	--progcol1: #4caf50;
	--cardcol: #2d5fad;
	--cardcol1: rgb(255,255,255);
	--cardcol2: rgba(255,255,255,1);
	--cardcol3: rgba(140,137,212,1);
	--cardcol4: #FC545E;
	--cardcol5: #ffffff;
	--myProjangle: 135deg;
	--myProjwid: 10px;
	--myProjwid1: 10px;
	--myProjwid2: 20px;
	--myProjcol: #606dbc;
	--myProjcol1: #465298;
	--myProjcol2: rgba(0, 0, 0, 0);
	--myProjcol3: rgb(183,33,255);
	--myProjcol4: rgba(183,33,255,1);
	--myProjcol5: rgba(33,212,253,1);
	--odark: 0.3;
	--olight: 1;
	--switchcol: #f36f48;
}

body {
	font-family: 'Handlee' , cursive;
	font-size: 18pt;
	background-color: var(--backg);
	padding: 10px;
	margin: 0;
	padding-top: 15px;
}

.progresshead {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100vw;
	background-color: #f1f1f1;
	margin: 0 -10px;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.progress-container {
	width: 100vw;
	height: 5px;
	background: var(--progcol);
}

.progress-bar {
	height: 5px;
	background: var(--progcol1);
	width: 0%;
	border-right: 1px solid #000000;
}

#header {
	background: var(--headcol1);
	background: -moz-linear-gradient(90deg, var(--headcol2) 0%, var(--headcol3) 50%, var(--headcol2) 100%);
	background: -webkit-linear-gradient(90deg, var(--headcol2) 0%, var(--headcol3) 50%, var(--headcol2) 100%);
	background: linear-gradient(90deg, var(--headcol2) 0%, var(--headcol3) 50%, var(--headcol2) 100%);
	background-size: cover;
}

#header img {
	display: block;
	width: 200px;
	height: 200px;
	margin: 20px auto 0 auto;
	box-shadow: 0 0 15px 2px rgba(0,0,0,0.8);
}

#header p {
	font-family: 'Kodchasan', sans-serif;
	font-size: 40pt;
	color: var(--headcol);
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0;
	line-height: 1.3;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px #000000;
}


#header h2 {
	font-size: 30pt;
	color: var(--headcol);
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px #000000;
}

.img-circle {
	border: 3px solid white;
	margin-top: 10px;
	border-radius: 50%;
	transition: all 0.9s ease-in-out;
}


.img-circle:hover {
	transform: scale(1.15);
}

.section {
	background-color: var(--backsec);
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

nav {
	margin: 10px 0px;
	background-color: #0066cd;
	width: auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	font-weight: bold;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
display: flex;
	justify-content: space-around;
}

nav ul li {
	display:inline-block;
	z-index: 2;
	background-color: #0066cd;
	}

nav a {
	margin: 10px;
	display:block;
	padding:10px 50px;
	color:#FFF;
	font-size: 20pt;
	line-height: 1.6;
	text-decoration:none;
	align-items: center;
	border-radius: 5px;
}

nav a:hover {
	background-color: #333;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin-left: 10px;
}

nav ul ul a {
	font-size: 15pt;
	margin: 7px;
	padding:7px auto;
}
nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width: 324px !important;
	float: none;
	display: list-item;
	position: relative;
	border: 1px solid white;
}

li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }

.content_h1 {
	font-size: 25pt;
	color: var(--contenth1col);
	text-align: center;
	font-weight: bold;
	border: 4px dashed var(--contenth1col);
	padding: 10px;
	width: 180px;
	margin: 60px auto 40px auto;
}

.quote {
	background-color: var(--quotebg);
	border-left: 5px solid #A9A9A9;
	font-family: 'Courgette', cursive;
	color: var(--quotecol);
	font-style: normal;
  	font-size: 18pt;
  	text-align: left;
	padding: 30px 40px;
	margin: 40px 60px;
}

.quotecontent::before {
	content: "\201C";
	font-weight: bold;
}

.quotecontent::after {
	content: "\201D";
	font-weight: bold;
}

.quoty {
	font-family: 'Kodchasan', sans-serif;
	text-align: right;
	font-style: normal;
	padding-top: 10px;
	font-weight: bold;
}

p {
	font-family: 'Gudea', sans-serif;
	padding: 0px 80px 20px 80px;
	margin: 0;
	line-height: 1.6;
	color: var(--pfontcol);
}

p a {
	font-family: 'Gudea', sans-serif;
	border-bottom: 3px solid #bebfbf;
	text-decoration: none;
	font-weight: bold;
	color: var(--pfontcol);
}

p a:hover {
	color: var(--pahovercol);
	transition-delay: 0.2s;
	border-bottom: 3px solid #48ecf1;
}

.selected {
	background-color: #f36f48;
	font-weight: bold;
	color: white;
}

.myProject {
	background: repeating-linear-gradient(var(--myProjangle),var(--myProjcol),var(--myProjcol) var(--myProjwid),var(--myProjcol1) var(--myProjwid1),var(--myProjcol1) var(--myProjwid2));
	margin: 50px 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 7px;
}

.myProject:hover {
	box-shadow: 0 0 30px 1px var(--myProjcol2);
	transition-duration: 1s;
}

.myproject_h1 {
	font-size: 30pt;
	font-weight: bold;
	color: #ffffff;
	background: var(--myProjcol3);
	background: -moz-linear-gradient(90deg, var(--myProjcol4) 0%, var(--myProjcol5) 100%);
	background: -webkit-linear-gradient(90deg, var(--myProjcol4) 0%, var(--myProjcol5) 100%);
	background: linear-gradient(90deg, var(--myProjcol4) 0%, var(--myProjcol5) 100%);
	text-align: center;
	border-radius: 20px;
	padding: 15px;
	width: 250px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.card-box {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

.card-box a {
	text-decoration: none;
}

.card-wrapper {
  	display: inline-block;
  	perspective: 1000px;
}

.card-wrapper .card {
  	position: relative;
  	cursor: pointer;
  	transition-duration: 0.6s;
  	transition-timing-function: ease-in-out;
  	transform-style: preserve-3d;
}

.card-wrapper .card .front,
.card-wrapper .card .back {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	transform: rotateX(0deg);
}

.card-wrapper .card .front {
  	z-index: 2;
}

.card-wrapper .card .back,
.card-wrapper.flip-card .card .back {
  	transform: rotateY(180deg);
}

.card-wrapper:hover .card,
.card-wrapper.flip-card:hover .card {
  	transform: rotateY(180deg);
	border-radius: 10px;
	box-shadow: 0 0 10px 1px var(--myProjcol2);
}

.card-wrapper,
.card {
  	width: 500px;
  	height: 180px;
  	margin: 0px;
}

.card .front,
.card .back {
  	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	border-radius: 10px;
}

.card .front {
  	color: var(--cardcol);
  	background: var(--cardcol1);
	background: -moz-radial-gradient(circle, var(--cardcol2) 0%, var(--cardcol3) 100%);
	background: -webkit-radial-gradient(circle, var(--cardcol2) 0%, var(--cardcol3) 100%);
	background: radial-gradient(circle, var(--cardcol2) 0%, var(--cardcol3) 100%);
  	font-weight: 700;
  	font-size: 40pt;
}

.card .back {
  	font-size: 30pt;
	font-weight: bold;
  	color: var(--cardcol5);
  	background: var(--cardcol4);
}

.card p {
	font-size: 18pt;
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
  	height: 1px;
  	background: #f36f48;
}

.switch-flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: var(--switchcol);
	font-weight: bold;
	font-size: 20pt;
}

.dark {
	opacity: var(--odark);
}

.light {
	opacity: var(--olight);
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 15px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2ab1ce;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
  }

input:checked + .slider {
	background-color: #ea4b3c;
	border-radius: 34px;
}

  input:focus + .slider {
	box-shadow: 0 0 1px #2ab1ce;
  }

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

#contacts {
  text-align: center;
  background-color: #1F2430;
	color: #ffffff;
	font-size: 25pt;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 0px;
}

.conatcts_h1 {
	text-align: center;
	margin: 0;
	margin-top: 20px;
}

.contacts_h1 span{
	background: rgb(131,58,180);
	background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
	border-radius: 20px;
	padding: 15px;
}

#contacts img {
 	height: 50px;
 	width: 50px;
	margin: 40px 17px 10px 17px;
	filter: drop-shadow(2px 2px 2px #222);
	transition: all 0.6s ease-in-out;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
	transform: scale(1.3);
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.copyright {
  font-size: 13pt;
  text-align: center;
  padding-bottom: 5px;
  color: grey;
}

html[data-theme='dartheme'] {
	--backg: #4d4e4f;
	--backsec: #232323;
	--pfontcol: #e4e4e4;
	--quotecol: #D3D3D3;
	--quotebg: #5f646e;
	--headcol: #8dc6ff;
	--headcol1: rgb(24,43,64);
	--headcol2: rgba(24,43,64,1);
	--headcol3: rgba(4,129,255,1);
	--pahovercol: #ffffff;
	--contenth1col: #20bcd5;
	--progcol: #8dc6ff;
	--progcol1: #0078ef;
	--cardcol: #05f29b;
	--cardcol1: rgb(1,69,44);
	--cardcol2: rgb(1,69,44,1);
	--cardcol3: rgb(3,165,106);
	--cardcol4: #003b00;
	--cardcol5: #9dff9d;
	--myProjangle: 180deg;
	--myProjwid: 1px;
	--myProjwid1: 1px;
	--myProjwid2: 5px;
	--myProjcol: rgba(59,255,59,0.3);
	--myProjcol1: #002700;
	--myProjcol2: rgb(0,255,0,0.7);
	--myProjcol3: rgba(0,166,81);
	--myProjcol4: rgba(0,166,81,1);
	--myProjcol5: rgba(0,209,174,1);
	--odark: 1;
	--olight: 0.3;
	--switchcol: #f36f48;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 200ms !important;
  transition-delay: 0 !important;
}

@media only screen and (max-width: 768px) {

html {
	--myProjwid: 4px;
	--myProjwid1: 4px;
	--myProjwid2: 8px;
}
	
body {
	font-size: 11pt;
	padding: 6px;
	padding-top: 15px;
}

.progresshead {
	margin: 0 -6px;
}
	
.progress-container {
	height: 4px;
}

.progress-bar {
	height: 4px;
}

#header img {
	width: 40vw;
	height: 40vw;
	box-shadow: 2px 2px 4px #000000;
	margin: auto;
}

#header p {
	font-size: 6vw;
	padding-top: 10px;
	text-shadow: 2px 2px 4px #000000;
}

nav {
	margin: 10px 0px;
	background-color: #0066cd;
	width: auto;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	font-weight: bold;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
display: flex;
	justify-content: space-around;
}

nav ul li {
	display:inline-block;
	z-index: 2;
	background-color: #0066cd;
	}

nav a {
	margin: 10px;
	display:block;
	padding:10px 50px;
	color:#FFF;
	font-size: 14pt;
	line-height: 1.6;
	text-decoration:none;
	align-items: center;
	border-radius: 5px;
}

nav a:hover {
	background-color: #333;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin-left: 10px;
}

nav ul ul a {
	font-size: 12pt;
	margin: 7px;
	padding:7px auto;
}
nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width: 324px !important;
	float: none;
	display: list-item;
	position: relative;
	border: 1px solid white;
}
	
#header h2 {
	font-size: 5vw;
	padding-top: 5px;
	text-shadow: 2px 2px 4px #000000;
}

.img-circle {
	border: 2px solid white;
}

.section {
	padding: 2vw;
	margin-bottom: 10px;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}



.content_h1 {
	font-size: 14pt;
	border: 3px dashed var(--contenth1col);
	padding: 1vw;
	width: 30vmin;
	margin: auto;
}

.quote {
	border-left: 1vw solid #A9A9A9;
    	font-size: 10pt;
	padding: 2vmax 2vw;
	margin: 2.5vmax 3vw;
}

.quoty {
	padding-top: 2vmax;
}

p {
	padding: 1vmax 6vw;
}

p a:link {
	border-bottom: 2px solid #bebfbf;
}

p a:visited {
	border-bottom: 2px solid #bebfbf;
}

p a:hover {
	border-bottom: 2px solid #48ecf1;
}

.myProject {
	margin: 30px 2vw;
	padding-top: 3vmax;
	padding-bottom: 3vmax;
	border-radius: 4px;
}
	
.myProject:hover {
	box-shadow: 0 0 20px 1px var(--myProjcol2);
}
	
.myproject_h1 {
	font-size: 17pt;
	margin-top: 3vmax;
	margin-bottom: 3vmax;
	padding: 4vw;
	width: 50vmin;
}

html[data-theme='dartheme'] {
	--myProjwid: 1px;
	--myProjwid1: 1px;
	--myProjwid2: 5px;
}
	
.card-wrapper,
.card {
  	width: 80vw;
  	height: 30vmin;
}
	
.card .front {
	font-size: 25pt;
}
	
.card .back {
  	font-size: 20pt;
}
	
.card p {
	font-size: 14pt;
}

.switch-flex {
	font-size: 15pt;
}

.switch {
	width: 45px;
	height: 26px;
	margin: 0 11px;
}
	
.slider {
	border-radius: 26px;
}

.slider:before {
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	border-radius: 26px;
  }

input:checked + .slider {
	border-radius: 26px;
  }
	
input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
  }
	
#contacts {
	padding-top: 3vmax;
}

#contacts img {
    	height: 8vw;
    	width: 8vw;
	margin: 5vw 1vw 0 1vw;
    	filter: drop-shadow(2px 2px 2px #222);
}

.contacts_h1 {
	font-size: 15pt;
	padding: 1vw;
	margin-top: 0;
}

.flex-container {
	display: inline;
	justify-content: space-around;
}
	
.copyright {
	font-size: 8pt;
}
}
