@use "../../styles/index" as *;

.footer {
  width: 100%;
  border-top: $border-width-1 solid var(--border);

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-20;
    font-size: $font-size-sm;
    text-align: center;
  }

  @include respond-max($bp-md) {
    .footer-content {
      padding: $spacing-12;
      font-size: $font-size-xs;
    }
  }

  @include respond-max($bp-sm) {
    .footer-content {
      padding: $spacing-8;
      font-size: 10px;
    }
  }
}
