@use "../../styles/index" as *;

.hero {
  width: 100%;
  background-color: $background-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $spacing-1200;
    h1,
    h2,
    h3 {
      margin: 0;
    }
  }
}
