@use "../../styles/index" as *;

.navbar {
  position: fixed;
  top: $spacing-20;
  z-index: 9;

  .nav-links {
    display: flex;
    gap: $spacing-32;
    padding: $spacing-16 $spacing-32;
    border: $border-width-1 solid var(--border);
    border-radius: $border-radius-50;
    background-color: var(--panel);
    transition-duration: 0.5s;
    &:hover {
      box-shadow: var(--shadow-lg);
    }
    .nav-link {
      font-size: $font-size-lg;
      font-weight: $font-bold;
    }

    .theme-toggle {
      margin-left: $spacing-8;
      background: transparent;
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: $spacing-6;
      border-radius: $border-radius-6;
      cursor: pointer;
      color: var(--text);

      &:hover {
        box-shadow: none;
        svg {
          color: $primary-color;
          transition-duration: 0.5s;
        }
      }
    }
  }
}
