$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #212529;
$background-color: #f8f9fa;
$background-grey: #f0f0f0;

$white: #fff;
$black: #000;
$light-grey: #dee2e6;

$border-color-primary: #007bff;
$error-color: #dc3545;
$hint-color: #6c757d;
$success-color: #28a745;
