$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #212529;
$background-color: #f8f9fa;

$white: #fff;
$black: #000;

$border-color-primary: #007bff;
$error-color: #dc3545;
$hint-color: #6c757d;
