$spacing-none: 0;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-18: 18px;
$spacing-20: 20px;
$spacing-22: 22px;
$spacing-24: 24px;
$spacing-26: 26px;
$spacing-32: 32px;
$spacing-64: 64px;
$spacing-100: 100px;
$spacing-128: 128px;
$spacing-256: 256px;
$spacing-512: 512px;
$spacing-1024: 1024px;
$spacing-1200: 1200px;
$spacing-2048: 2048px;
